<form>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Telefone" [(ngModel)]="telefoneCliente" name="telefone" required>
  </div>
  <button class="btn btn-primary" (click)="buscarClientesPorTelefone()"><i class="fa fa-search"></i></button>
  
  <div class="form-group">
    <select class="form-control" [(ngModel)]="agendamento.barbeiro" (ngModelChange)="buscarBarbeiroPorNome($event)" name="barbeiros">
      <option value="">Selecione um barbeiro</option>
      <option *ngFor="let barbeiro of barbeiros" [value]="barbeiro.nome">
        {{ barbeiro.nome }}
      </option>
    </select>
  </div>
  
  <div class="form-group">
    <input type="datetime-local" class="form-control" placeholder="Data do agendamento" [(ngModel)]="agendamento.dataAgendamento" name="data" required>
  </div>
  
  <button class="btn btn-success btn-create-appointment" (click)="criarAgendamento()">Agendar</button>
</form>